* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fad0c4;
  --btn-color: #c599b6;
  --text-color: #000000;
  --secondary-color: #fff7f3;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
}
.app-hero {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  align-items: center;
  padding: 4rem 0;
  flex-wrap: wrap;
}
.app-hero h1 {
  font-size: 4rem;
  text-align: center;
}
.forms-section {
  display: flex;
  padding: 2rem 3rem;
  flex-wrap: wrap;
}
form {
  display: flex;
  width: 100%;
  gap: 10rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cat-photo-form,
.cat-facts-form {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}
h3 {
  text-transform: capitalize;
}
span {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}
#photosNo,
#factsNo {
  height: 6rem;
  width: 30rem;
  outline: none;
  border: none;
  background-color: white;
  text-align: center;
  border-radius: 0.8rem;
  font-size: 3rem;
  font-weight: bold;
}
::placeholder {
  font-style: italic;
  color: var(--btn-color);
  font-weight: bold;
  font-size: 1.5rem;
}
button {
  height: 6rem;
  background-color: var(--btn-color);

  font-size: 2.5rem;
  color: white;
  border-radius: 0.4rem;
  place-content: center;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

#displayResults {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  text-align: center;
  background-color: var(--secondary-color);
}

.facts-show {
  max-width: 80rem;
  width: 100%;
  gap: 2rem;
}

.facts-show ol {
  list-style-position: inside;
  padding: 2rem;
  margin: 0 auto;
  text-align: left;
}

.loader {
  border-left: 2rem solid var(--btn-color);
  border-top: 2rem solid var(--primary-color);
  border-right: 2rem solid var(--btn-color);
  border-bottom: 2rem solid var(--primary-color);
  border-radius: 50%;
  width: 22rem;
  height: 22rem;
  animation: spin 2s linear infinite;
  margin: 1.5rem auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 4rem;
}

.image-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 48em) {
  #photosNo,
  #factsNo {
    width: 100%;
  }
}
